.circle {
 position: absolute;
 bottom: 0;
 top: 900vh;
 margin-bottom: 100vh;
 left: 0;
 width: 100%;
 height: 150vh;

}
.circle img {
    position: absolute;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg {
    
    position: absolute;
    width: 100%;
    background: white url(https://www.svgrepo.com/show/127869/circle-moon.svg);
    height: 100%;
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(272deg) brightness(108%) contrast(108%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    mix-blend-mode: screen;
    /* bottom: 0; */
    /* border: 2px solid blue; */

}

 body {
    min-height: 2000px;
}

.bgBG {
    background-color: #000;
    width: 100vw;
    height: 200vh;
}