* {
  margin: 0;
  padding: 0;

  /* color: #fff; */
}
body {
  background-color: #000;
}

svg, p, h2, span, div {
  background-color: transparent;

}

.App {
  text-align: center;
  /* display: flex; */
  /* flex-wrap: nowrap; */
}

