.blink {
    right: 340px;
    /* border: 2px solid blue; */
    margin-top: 105px;
    z-index: 1;
    position: absolute;
    animation: piscar 1s linear 1s infinite alternate;

}

.arms {
    right: 468px;
    margin-top: 5%;
    position: absolute;
    animation: moove 0.8s linear infinite alternate;
}
.ideia {
    margin: -3% 0 0 0;
    right: 480px;
    position: absolute;
}

.luz {
    border-radius: 50%;
    animation: light 5s linear infinite alternate;
    margin: -3% 0 0 0;
    right: 485px;
    position: absolute;
    height: 40px;
    width: 40px;
}
@keyframes piscar {
    0% {
        transform: translateY(-40px);
        /* border: 2px solid blue; */
    }
    100% {
        transform: translateY(0);
        /* border: 2px solid red; */
    }
}
@keyframes moove {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}
@keyframes light {
    0% {
        box-shadow: 0 0 10px #f5f5a9,
        0 0 20px #f5f5a9,
        0 0 30px #f5f5a9,
        0 0 40px #f5f5a9;
        /* transform: translate( 5vw, 3vh); */
    }
    20% {
        box-shadow: 0 0 10px #f5f5a9,
        0 0 20px #f5f5a9;
        /* transform: translate( 10vw, 4vh); */
        
    }
    40% {
        box-shadow: 0 0 10px #f5f5a9,
        0 0 20px #f5f5a9,
        0 0 30px #f5f5a9,
        0 0 40px #f5f5a9,
        0 0 80px #f5f5a9,
        0 0 160px #f5f5a9;
        /* width: 25px; */
        /* height: 25px; */
        /* transform: translate(15vw, 5vh); */
    } 80% {
        box-shadow: 0 0 10px #f5f5a9,
        0 0 20px #f5f5a9,
        0 0 80px #f5f5a9,
        0 0 160px #f5f5a9;
        /* transform: translate( 20vw, 4vh); */
    } 
    100% {
        box-shadow: 0 0 10px #f5f5a9,
        0 0 20px #f5f5a9,
        0 0 30px #f5f5a9,
        0 0 40px #f5f5a9,
        0 0 60px #f5f5a9;
        /* transform: translate( 25vw, 3vh); */
    }
}
