.containerDollScared {
    width:330px;
    height:227px;
    position: relative;
    margin-top: -17%;
    left:5%;
}

.doll {
    position: absolute;
    left: 0;
}

.eyes {
    position: absolute;
    left: 27.4%;
    top: 47%;
    animation: animateEyes 0.7s linear 1s infinite alternate;
}

.mouth {
    position: absolute;
    left: 37%;
    top: 55.5%;
    animation: animateMouth 0.5s linear 1s forwards;
}

@keyframes animateEyes {
    100% {
        transform: translateY(-20px);
    }
}
@keyframes animateMouth {
    100% {
        transform: translateY(-20px);
    }
}