.doll {
    position: absolute;
    left: 80px;
    margin-top: -17%;
}

.eyes {
    position: absolute;
    /* border: 2px solid red; */
    left: 171px;
    margin-top: -9.6%;
    animation: animateEyes 0.7s linear 1s infinite alternate;
}

.mouth {
    position: absolute;
    left: 202px;
    margin-top: -8.2%;
    animation: animateMouth 0.5s linear 1s forwards;
}

@keyframes animateEyes {
    100% {
        transform: translateY(-20px);
    }
}
@keyframes animateMouth {
    100% {
        transform: translateY(-20px);
    }
}